
@{
    ViewBag.Title = "categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="category-feature-product" class="pt-9">
        <div class="ruby-container">
            <div class="row">
                @{
                    foreach (var item in ViewBag.catagories)
                    {
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single-featured-product">
                                        <a href="@Url.Action("Category", "Home", new {id = item.cat_id})"><img class="img-fluid" style="height:270px;width:1000px;" alt="Products" src="@Url.Content(@item.img_name)"></a>

                                    </div>
                                    <h2 style="text-align:center"><strong>@item.name</strong></h2>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

